* {
    margin: 12;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}



body {
    text-align: center;
    background-image: url('imgciencia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

header {
    margin-top:  20px;
}
head {
    background-image: url('imgciencia.jpg');
}


.estilo { 
    background: white;
    margin: 50px;
}

#estilounico { 
    background: blue;
    margin: 200px;
}